# Programming Language
Python 3.x

# GUI Framework
Tkinter

# Database
MySQL

# Python Libraries / Modules
pymysql>=1.1.0
fpdf>=1.7.2
qrcode>=7.4.2
pillow>=10.0.0

# Built-in Python Modules
tkinter
re
```
